body{margin:0px; background:#fff;}
body #header{background-color:#3b5998; background-image:linear-gradient(#4e69a2, #3b5998 50%);border-bottom: 1px solid #133783;min-width: 980px;}
#header a{color:#fff; text-decoration: none;}
#sign_in td label, #sign_in td a{color:#fff; font-size:12px;font-family: sans-serif;}
#sign_in td.login input{    background-color: #4267b2;  margin: 0px; border: 1px solid #29487d;   color: #fff;    padding: 4px 5px;}
#header #set{margin: 0 auto;  height: 76px;  padding-top: 7px;    width: 980px;}
#header #logo{float: left;font-family: sans-serif;}
#header #logo h1 {font-size:40px; margin:15px 0px 0px 0px; }
#header #sign_in{float: right;}
#header #sign_in td a{color:#9cb4d8;}
#main_container{}
#mid_container{background-color:#D3D8E8; padding: 20px 0px; margin:0 auto;height: 556px;    min-width: 980px;}
section#middle_content {   width: 980px;    margin: 0px auto;font-family: sans-serif;}
#sign_in input#email, #sign_in input#password {width:142px;}
#left{float:left;width: 560px; margin-right: 16px;}
#left div#change1{width: 475px; text-align: center;margin-top: 15px;}
#left div i{width: 320px; height: 400px; display: inline-block;background-image:url(img/img_ml1.png); background-position: 0px 0px;}
#left .p1{color: #3b5998;
    font-size: 28px;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 15px;
    text-align: center;
    width: 300px;
    word-spacing: -1px;}
#left .p2{color: #1d2129;
    font-size: 20px;
    line-height: 26px;
    margin-left: 100px;
    margin-top: 15px;
    text-align: center;
    width: 300px;
    word-spacing: -1px;}
form#sign_up{float:right; width:394px;}
#sign_up div h1 {
    margin: 0px 0px 5px 0px;
    font-size: 36px;
}
#sign_up div h5 {
    font-size: 19px;
    font-family: sans-serif;
	margin: 10px 0px 20px 0px;
    font-weight: normal;
}
#sign_up input#first_name, #sign_up input#last_name  {
    width: 172px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #bdc7d8;   
    position: relative;
    border: 1px solid #bdc7d8;
    padding: 8px 10px;
    background: #fff;
}
#sign_up input#sign_up_email, #sign_up input#email_confirmation,#sign_up input#sign_up_password {
    width: 370px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    font-size: 18px;
    padding: 8px 10px;
}
#birthday div {
    font-size: 18px;
    margin-bottom: 5px;
}
#birthday select#month, #birthday select#day, #birthday select#year {
    font-size: 13px;
    height: 30px;
    padding: 5px;
	border: 1px solid #bdc7d8;
	margin: 0px -4px 0px 0px;
}
#birthday select#year { margin-left: -1px;}
#birthday a#birth_answer {
    font-size: 11px;
    margin-left: 10px;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;	
    text-decoration: none;
	color: #365899;
}
div#gender {
    margin-top: 10px;
	font-size: 18px;
}
div#form_info {width: 375px;}
div#form_info p a{ color:#365899;text-decoration: none;}
div#form_info p a:hover{ text-decoration: underline;}
div#form_info p {
    width: 316px;
    color: #777;
    font-size: 11px;
}
div#submit input {
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
    text-align: center;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    font-weight: bold;
    color: white;
    font-size: 19px;
    background-color: #69a74e;
    background: linear-gradient(#67ae55, #578843);
    border-color: #2c5115;
    border: 1px solid #3b6e22;
    border-radius: 5px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
div#create_page {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
padding-top: 15px;}
	div#create_page a{
    text-decoration: none; color:#365899;
}
footer#page_footer {
    color: #737373;
    margin: 0 auto;

}
#page_footer ul.languages {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	padding-top: 8px;	
}
#page_footer ul.languages li.more_lang a i {
    padding: 0px 6px;    
	background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-position: -26px -285px;   
}
#page_footer ul.languages li.more_lang a {padding: 3px 9px;
    border: 1px solid #ced0d4;
    background-color: #f6f7f9;
    color: #4b4f56;
    border-radius: 3px;}
#page_footer .contact_info i.ad_choices_img{
	background-image: url(img/img2.png);
	background-position: -218px 50px;
	display: inline-block;
    width: 17px;
    height: 15px;
}
#page_footer ul.languages li.more_lang a:hover{background-color:#e9ebee;}
#page_footer ul.languages li {
    float: left;
    padding-left: 10px;
	font-size: 12px;
	    font-family: sans-serif;
}
#page_footer ul.languages li:first-child {
    padding-left: 0;
}
#page_footer .contact_info .row div:first-child {padding-left:0px;}
#page_footer ul.languages li a, #page_footer .copyright a, #page_footer .contact_info a {text-decoration: none; color:#365899;}
#page_footer .contact_info a{text-decoration:none;}
#page_footer div.img_border {
    border-bottom: 1px solid #dddfe2;    
    height: 29px;
    margin-bottom: 8px;

}
#page_footer .copyright{float:left; margin-top: 20px; margin-bottom: 20px;}
#page_footer .copyright span {
    font-size: 11px;   
    font-family: sans-serif;   
    color: #737373;
}
#page_footer .contact_info {
    line-height: 20px;
    font-size: 12px;
    font-family: sans-serif;
	float:left;
}
.contact_info .row div { float: left;  padding: 0px 10px;}
#page_footer .footer_content {width: 980px;  margin: 0 auto;}
/*javascript*/
#left div#change2 div {
    margin-top: 20px;
    padding-bottom: 10px;
	display: inline-block;
}
#left div#change2 img.left_icon {
    margin-right: 20px;
    vertical-align: middle;
}

#left div#change2 h2 {
    padding: 42px 0 24px;
    margin: 0px;
    font-size: 28px;
    line-height: 36px;
}
#left ul{ list-style-type: none;}

.change ul li
	{
	display:none;
	}
.change ul li.show
	{
	display:block;
	}
#change2 div:last-child div{margin-left:-10px;}